@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}
body {
    background-color: #cedae7;
    color: #474646;
}
back-ground-image {
    /* background-image: url('./Img/1104816.png'); */
    background-color: transparent;
}
